
# Data cleaning  for modeling

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [85]:
#load dataset
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [32]:
colnames=train.columns.tolist()

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [33]:
x_vars=colnames[:-1]
y_vars=colnames[-1]

### Variables that need to be dummified and combined

 Need to encode some fields based on their definition and drop the original.
 
 Exterior1st, Exterior2nd (Exterior covering on house)


BsmtFinType1, BsmtFinType2, BsmtFinSF1 (Type 1 finished square feet), BsmtFinSF2 (Type 1 finished square feet)


BsmtFullBath, BsmtHalfBath  (number of type of bathroom in the basement)


OpenPorchSF ( Open porch area in square feet)
EnclosedPorch (Enclosed porch area in square feet)
3SsnPorch (Three season porch area in square feet)
ScreenPorch (Screen porch area in square feet)


MasVnrType, MasVnrArea


PoolQC, PoolArea

In [51]:
train.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
                  ...
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

### houses with different exterior: one-hot encoding

In [35]:
#houses with different exterior: one-hot encoding
different=train[train["Exterior1st"]!=train["Exterior2nd"]][["Exterior1st","Exterior2nd"]]

In [87]:
part=pd.get_dummies(train[["Exterior1st","Exterior2nd"]],drop_first=True,dummy_na=True) #dummify both the exterior column
part.columns=part.columns.str.replace("1st","") #change name of the column
part.columns=part.columns.str.replace("2nd","")
part=part.groupby(part.columns, axis=1).sum() #group by the same column and thus summing duplicate as two
part=part.astype(float)
part[part.groupby(part.columns, axis=1).sum()>1]=part[part.groupby(part.columns, axis=1).sum()>1]-1# list comprehension?

In [88]:
#drop original dataset exterior and then merge
train=train.drop(["Exterior1st"],axis=1)
train=train.drop(["Exterior2nd"],axis=1)

In [136]:
#train=train.join(part)
train.shape#1460

(1460, 98)

### Basement Dummyfication
BsmtFinType1, BsmtFinType2, BsmtFinSF1 (Type 1 finished square feet), BsmtFinSF2 (Type 1 finished square feet) BsmtUnfSF: Unfinished square feet of basement area TotalBsmtSF: Total square feet of basement area

In [124]:
#new=train[["BsmtFinType1","BsmtFinSF1" , "BsmtFinType2", "BsmtFinSF2"]]
new=train[["BsmtFinType1","BsmtFinSF1" ,"BsmtFinType2", "BsmtFinSF2" ]]
new.head(4)

  BsmtFinType1  BsmtFinSF1 BsmtFinType2  BsmtFinSF2
0          GLQ         706          Unf           0
1          ALQ         978          Unf           0
2          GLQ         486          Unf           0
3          ALQ         216          Unf           0

In [109]:
tmp=pd.get_dummies(new["BsmtFinType1"],drop_first=True,dummy_na=True)
tmp.head(3)

   BLQ  GLQ  LwQ  Rec  Unf  NaN
0    0    1    0    0    0    0
1    0    0    0    0    0    0
2    0    1    0    0    0    0

In [135]:
#use pivot like spread in R: add square fit to the value and spread the value of each type into different columns
tmp=new.pivot(columns="BsmtFinType1", values="BsmtFinSF1").fillna(0)
tmp
tmp2=new.pivot(columns="BsmtFinType2", values="BsmtFinSF2").fillna(0)
tmp2
tmp_fin=tmp+tmp2
tmp_fin.shape# 1460

(1460, 7)

In [190]:
train=train.drop(columns=["BsmtFinType1","BsmtFinSF1" ,"BsmtFinType2", "BsmtFinSF2" ],axis=1)

In [194]:
train=train.join(tmp_fin) #join dummified bsmt to training dataset

In [214]:
train = train.rename(columns={np.nan: 'Bsmt_nan'}) #rename nan dataset to basemet nan

In [220]:
#rename using dictionary
train = train.rename(columns=dict(zip(('ALQ', 'BLQ', 'GLQ', 'LwQ', 'Rec', 'Unf'),('Bsmt_ALQ', 'Bsmt_BLQ', 'Bsmt_GLQ', 'Bsmt_LwQ', 'Bsmt_Rec', 'Bsmt_Unf'))))

### Bathroom dummification (combining one and half together)
BsmtFullBath, BsmtHalfBath  (number of type of bathroom in the basement)

In [240]:
#pd.options.display.max_rows=20
#train.dtypes
train[["BsmtFullBath","BsmtHalfBath"]]
train["BsmtHalfBath"]=train["BsmtHalfBath"]*0.5

      BsmtFullBath  BsmtHalfBath
0                1           0.0
1                0           0.5
2                1           0.0
3                1           0.0
4                1           0.0
5                1           0.0
6                1           0.0
7                1           0.0
8                0           0.0
9                1           0.0
...            ...           ...
1450             0           0.0
1451             0           0.0
1452             1           0.0
1453             0           0.0
1454             1           0.0
1455             0           0.0
1456             1           0.0
1457             0           0.0
1458             1           0.0
1459             1           0.0

[1460 rows x 2 columns]

In [255]:
train["BsmtBath"]=train["BsmtFullBath"]+train["BsmtHalfBath"]
train=train.drop(columns=["BsmtFullBath","BsmtHalfBath"],axis=1)

### Porch
Add all the porch into sqft

OpenPorchSF ( Open porch area in square feet) EnclosedPorch (Enclosed porch area in square feet) 3SsnPorch (Three season porch area in square feet) ScreenPorch (Screen porch area in square feet)

In [262]:
train["TotalPorchSF"]=train["OpenPorchSF"]+train["EnclosedPorch"]+train["3SsnPorch"]+train["ScreenPorch"]
train=train.drop(columns=["OpenPorchSF","EnclosedPorch","3SsnPorch","ScreenPorch"],axis=1)

### Masonry veneer area

In [279]:
#Masonry veneer area
train[["MasVnrType", "MasVnrArea"]]
tmp=train.pivot(columns="MasVnrType", values="MasVnrArea").fillna(0)
#sum(tmp[np.nan])
tmp

MasVnrType  NaN  BrkCmn  BrkFace  None  Stone
0           0.0     0.0    196.0   0.0    0.0
1           0.0     0.0      0.0   0.0    0.0
2           0.0     0.0    162.0   0.0    0.0
3           0.0     0.0      0.0   0.0    0.0
4           0.0     0.0    350.0   0.0    0.0
5           0.0     0.0      0.0   0.0    0.0
6           0.0     0.0      0.0   0.0  186.0
7           0.0     0.0      0.0   0.0  240.0
8           0.0     0.0      0.0   0.0    0.0
9           0.0     0.0      0.0   0.0    0.0
...         ...     ...      ...   ...    ...
1450        0.0     0.0      0.0   0.0    0.0
1451        0.0     0.0      0.0   0.0  194.0
1452        0.0     0.0     80.0   0.0    0.0
1453        0.0     0.0      0.0   0.0    0.0
1454        0.0     0.0      0.0   0.0    0.0
1455        0.0     0.0      0.0   0.0    0.0
1456        0.0     0.0      0.0   0.0  119.0
1457        0.0     0.0      0.0   0.0    0.0
1458        0.0     0.0      0.0   0.0    0.0
1459        0.0     0.0      0.0   0.0    0.0

[1460 rows x 5 columns]

In [282]:
tmp =tmp.rename(columns=dict(zip(('BrkCmn', 'BrkFace', 'None', 'Stone'),('MasBrkCmn', 'MasBrkFace', 'MasNone', 'MasStone'))))
tmp=tmp.drop(columns=np.nan)

In [284]:
train=train.join(tmp) #join dummified bsmt to training dataset

### PoolQC

drop since its ordinal and very few observations

In [294]:
train[["PoolQC", "PoolArea"]]
train=train.drop(columns="PoolQC")

### Drop ID!

In [298]:
train=train.drop(columns="Id")

In [330]:
train.shape

(1460, 99)

# Test Dataset

In [308]:
test=pd.read_csv("test.csv")

In [309]:
test.shape# 1459,80

(1459, 80)

### houses with different exterior: one-hot encoding

In [311]:
part=pd.get_dummies(test[["Exterior1st","Exterior2nd"]],drop_first=True,dummy_na=True) #dummify both the exterior column
part.columns=part.columns.str.replace("1st","") #change name of the column
part.columns=part.columns.str.replace("2nd","")
part=part.groupby(part.columns, axis=1).sum() #group by the same column and thus summing duplicate as two
part=part.astype(float)
part[part.groupby(part.columns, axis=1).sum()>1]=part[part.groupby(part.columns, axis=1).sum()>1]-1# list comprehension?

In [312]:
#drop original dataset exterior and then merge
test=test.drop(["Exterior1st"],axis=1)
test=test.drop(["Exterior2nd"],axis=1)

In [313]:
test=test.join(part)
test.shape#96

(1459, 96)

### Basement Dummyfication
BsmtFinType1, BsmtFinType2, BsmtFinSF1 (Type 1 finished square feet), BsmtFinSF2 (Type 1 finished square feet) BsmtUnfSF: Unfinished square feet of basement area TotalBsmtSF: Total square feet of basement area

In [314]:
new=test[["BsmtFinType1","BsmtFinSF1" ,"BsmtFinType2", "BsmtFinSF2" ]]
new.head(4)

  BsmtFinType1  BsmtFinSF1 BsmtFinType2  BsmtFinSF2
0          Rec       468.0          LwQ       144.0
1          ALQ       923.0          Unf         0.0
2          GLQ       791.0          Unf         0.0
3          GLQ       602.0          Unf         0.0

In [315]:
tmp=pd.get_dummies(new["BsmtFinType1"],drop_first=True,dummy_na=True)
tmp.head(3)

   BLQ  GLQ  LwQ  Rec  Unf  NaN
0    0    0    0    1    0    0
1    0    0    0    0    0    0
2    0    1    0    0    0    0

In [316]:
#use pivot like spread in R: add square fit to the value and spread the value of each type into different columns
tmp=new.pivot(columns="BsmtFinType1", values="BsmtFinSF1").fillna(0)
tmp
tmp2=new.pivot(columns="BsmtFinType2", values="BsmtFinSF2").fillna(0)
tmp2
tmp_fin=tmp+tmp2
tmp_fin.shape# 1460

(1459, 7)

In [317]:
test=test.drop(columns=["BsmtFinType1","BsmtFinSF1" ,"BsmtFinType2", "BsmtFinSF2" ],axis=1)

In [318]:
test=test.join(tmp_fin) #join dummified bsmt to training dataset

In [319]:
test = test.rename(columns={np.nan: 'Bsmt_nan'}) #rename nan dataset to basemet nan

In [320]:
#rename using dictionary
test = test.rename(columns=dict(zip(('ALQ', 'BLQ', 'GLQ', 'LwQ', 'Rec', 'Unf'),('Bsmt_ALQ', 'Bsmt_BLQ', 'Bsmt_GLQ', 'Bsmt_LwQ', 'Bsmt_Rec', 'Bsmt_Unf'))))

### Bathroom dummification (combining one and half together)
BsmtFullBath, BsmtHalfBath  (number of type of bathroom in the basement)

In [321]:
#pd.options.display.max_rows=20
#train.dtypes
test[["BsmtFullBath","BsmtHalfBath"]]
test["BsmtHalfBath"]=test["BsmtHalfBath"]*0.5

In [322]:
test["BsmtBath"]=test["BsmtFullBath"]+test["BsmtHalfBath"]
test=test.drop(columns=["BsmtFullBath","BsmtHalfBath"],axis=1)

### Porch
Add all the porch into sqft

OpenPorchSF ( Open porch area in square feet) EnclosedPorch (Enclosed porch area in square feet) 3SsnPorch (Three season porch area in square feet) ScreenPorch (Screen porch area in square feet)

In [323]:
test["TotalPorchSF"]=test["OpenPorchSF"]+test["EnclosedPorch"]+test["3SsnPorch"]+test["ScreenPorch"]
test=test.drop(columns=["OpenPorchSF","EnclosedPorch","3SsnPorch","ScreenPorch"],axis=1)

### Masonry veneer area

In [324]:
#Masonry veneer area
test[["MasVnrType", "MasVnrArea"]]
tmp=test.pivot(columns="MasVnrType", values="MasVnrArea").fillna(0)
#sum(tmp[np.nan])
tmp

MasVnrType  NaN  BrkCmn  BrkFace  None  Stone
0           0.0     0.0      0.0   0.0    0.0
1           0.0     0.0    108.0   0.0    0.0
2           0.0     0.0      0.0   0.0    0.0
3           0.0     0.0     20.0   0.0    0.0
4           0.0     0.0      0.0   0.0    0.0
5           0.0     0.0      0.0   0.0    0.0
6           0.0     0.0      0.0   0.0    0.0
7           0.0     0.0      0.0   0.0    0.0
8           0.0     0.0      0.0   0.0    0.0
9           0.0     0.0      0.0   0.0    0.0
...         ...     ...      ...   ...    ...
1449        0.0     0.0      0.0   0.0    0.0
1450        0.0     0.0      0.0   0.0    0.0
1451        0.0     0.0    194.0   0.0    0.0
1452        0.0     0.0      0.0   0.0    0.0
1453        0.0     0.0      0.0   0.0    0.0
1454        0.0     0.0      0.0   0.0    0.0
1455        0.0     0.0      0.0   0.0    0.0
1456        0.0     0.0      0.0   0.0    0.0
1457        0.0     0.0      0.0   0.0    0.0
1458        0.0     0.0     94.0   0.0    0.0

[1459 rows x 5 columns]

In [325]:
tmp =tmp.rename(columns=dict(zip(('BrkCmn', 'BrkFace', 'None', 'Stone'),('MasBrkCmn', 'MasBrkFace', 'MasNone', 'MasStone'))))
tmp=tmp.drop(columns=np.nan)

In [326]:
test=test.join(tmp) #join dummified bsmt to training dataset

### PoolQC

drop since its ordinal and very few observations

In [327]:
test[["PoolQC", "PoolArea"]]
test=test.drop(columns="PoolQC")

### Drop ID!

In [331]:
test=test.drop(columns="Id")

KeyError: "labels ['Id'] not contained in axis"

In [386]:
print(test.shape)
print(train.shape)

(1459, 97)
(1460, 99)

In [395]:
tmp=test.columns.tolist()+train.columns.tolist()
tmp=pd.DataFrame(tmp)
tmp[0].value_counts() #exterior other is an extra column from training dataset which doesn't exsit in test

LandContour         2
RoofMatl            2
MSZoning            2
BedroomAbvGr        2
Alley               2
Exterior_WdShing    2
Functional          2
GarageFinish        2
Fireplaces          2
Exterior_nan        2
                   ..
Condition1          2
Exterior_Wd Sdng    2
GarageCond          2
MasNone             2
BsmtQual            2
GarageQual          2
Exterior_Stone      2
TotalBsmtSF         2
SalePrice           1
Exterior_Other      1
Name: 0, Length: 99, dtype: int64

In [397]:
train["Exterior_Other"].value_counts()

0.0    1459
1.0       1
Name: Exterior_Other, dtype: int64

In [398]:
test["Exterior_Other"]=0

In [399]:
test.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond',
       'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtUnfSF',
       'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'PoolArea', 'Fence',
       'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'Exterior_AsphShn', 'Exterior_Brk Cmn',
       'Exterior_BrkComm', 'Exterior_BrkFace', 'Exterior_CBlock',
       'Exterior_CemntBd', 'Exterior_CmentBd', 'Exterior_HdBoard',
       'Exterior_ImStucc', 'Exterior_MetalSd', 'Exterior_Plywood',
       'Exterior_Stone', 'Exterior_Stucco', 'Exterior_VinylSd',
       'Exterior_Wd Sdng', 'Exterior_Wd Shng', 'Exterior_WdShing',
       'Exterior_nan', 'Bsmt_nan', 'Bsmt_ALQ', 'Bsmt_BLQ', 'Bsmt_GLQ',
       'Bsmt_LwQ', 'Bsmt_Rec', 'Bsmt_Unf', 'BsmtBath', 'TotalPorchSF',
       'MasBrkCmn', 'MasBrkFace', 'MasNone', 'MasStone', 'Exterior_Other'],
      dtype='object')

In [400]:
#run again to check test and train
tmp=test.columns.tolist()+train.columns.tolist()
tmp=pd.DataFrame(tmp)
tmp[0].value_counts()

LandContour         2
Exterior_ImStucc    2
MSZoning            2
BedroomAbvGr        2
Alley               2
Exterior_WdShing    2
Functional          2
GarageFinish        2
Fireplaces          2
Exterior_nan        2
                   ..
HouseStyle          2
Condition1          2
Exterior_Wd Sdng    2
GarageCond          2
MasNone             2
BsmtQual            2
GarageQual          2
Exterior_Stone      2
TotalBsmtSF         2
SalePrice           1
Name: 0, Length: 99, dtype: int64

## Export cleaned data

In [410]:
train.to_csv("cleaned_train.csv")
test.to_csv("cleaned_test.csv")